@using DirectPay.Application.Abstration
<div class="hello-world-plugin">
    <h3>@Name</h3>
    <p>@Greeting</p>
    <button class="btn btn-primary" @onclick="ShowMessage">Click me!</button>
</div>

@code {
    public string Name => "Hello World Plugin";
    public string Description => "Simple demonstration plugin";

    private string Greeting { get; set; } = "Hello from my first plugin!";

    private void ShowMessage()
    {
        Greeting = "Button clicked!";
        StateHasChanged();
    }
}
